/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  .roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

body{
    font-family: "Roboto", sans-serif;
    --primColor : #219EBC;
    --secondColor : #023047;
    --terColor : #bcddec;
}

#wrapper{
  display: grid;
  grid-template-columns: 1.5fr 9fr;
  grid-template-rows: 70px minmax(100vh,1fr);
}

#header{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 5fr 4fr 1fr;
    align-items: center;
    gap: 30px;
    padding: 10px;
    background-color: var(--primColor);
}

#newElement{
    grid-column-start: 3;
    grid-row-start: 1;
    border: none;
    border-radius: 20px;
    background-color: var(--secondColor);
    color: white;
    width: 150px;

  }

#sidebar{
    min-width: 250px;
    background-color: var(--secondColor);
    color:  white;
    padding: 10px;
}

#noteSection>button,
#projectSection>button{
  border: none;
  border-radius: 20px;
  background-color: var(--terColor);
  width: 150px;
  margin-bottom: 10px;
}

#mainPanel{
  background-color: var(--terColor);
}

#content{
    background-color: var(--terColor);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    gap :10px;
    padding: 10px;
}


.card{
  display: grid;
  border : solid var(--secondColor);
  background-color: white;
  border-radius: 20px;
  gap: 5px;
  padding: 10px;
}

.description{
  overflow: hidden;
}

button{
  border: solid 2px var(--secondColor);
  border-radius: 20px;
  background-color: var(--primColor);
  width: 150px;
}